In [26]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = "13.csv"

df = pd.read_csv(file_path)

print(df.shape)
df.head()

(406575, 38)

,No,Type,Region,MunicipalityCode,Prefecture,Municipality,DistrictName,NearestStation,TimeToNearestStation,MinTimeToNearestStation,...,Classification,Breadth,CityPlanning,CoverageRatio,FloorAreaRatio,Period,Year,Quarter,Renovation,Remarks
0,1,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2019,2019,3,Not yet,NaN
1,2,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,3rd quarter 2019,2019,3,Done,NaN
2,3,Residential Land(Land and Building),Commercial Area,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,2,2.0,...,Ward Road,4.0,Commercial Zone,80.0,500.0,2nd quarter 2019,2019,2,NaN,NaN
3,4,Residential Land(Land and Building),Commercial Area,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,1,1.0,...,Tokyo Metropolitan Road,27.0,Commercial Zone,80.0,700.0,2nd quarter 2019,2019,2,NaN,NaN
4,5,"Pre-owned Condominiums, etc.",NaN,13101,Tokyo,Chiyoda Ward,Iidabashi,Iidabashi,4,4.0,...,NaN,NaN,Commercial Zone,80.0,500.0,2nd quarter 2019,2019,2,Done,NaN

In [28]:
use_cols = [
    "Type", "Prefecture", "Municipality", "DistrictName", "NearestStation",
    "TimeToNearestStation", "MinTimeToNearestStation", "MaxTimeToNearestStation",
    "TradePrice", "Area", "UnitPrice",
    "BuildingYear", "Structure", "FloorPlan", "Renovation",
    "CityPlanning", "CoverageRatio", "FloorAreaRatio",
    "Year", "Quarter", "Period"
]

df2 = df[use_cols].copy()
df2.head()

df2["Municipality"].drop_duplicates().sort_values()

209796                          Adachi Ward
350143                         Akiruno City
288555                        Akishima City
169229                         Arakawa Ward
20659                           Bunkyo Ward
0                              Chiyoda Ward
291500                           Chofu City
1984                              Chuo Ward
237654                         Edogawa Ward
281817                           Fuchu City
331442                           Fussa City
359827                         Hachijo Town
251057                        Hachioji City
348883                          Hamura City
338883                   Higashikurume City
321915                 Higashimurayama City
335014                   Higashiyamato City
316719                            Hino City
358632         Hinode Town,Nishitama County
359034    Hinohara Village,Nishitama County
346940                           Inagi City
174933                        Itabashi Ward
226368                      Katsushika Ward
161240                            Kita Ward
337117                          Kiyose City
311510                         Kodaira City
308146                         Koganei City
325944                       Kokubunji City
332679                           Komae City
37787                             Koto Ward
359672                    Kozushima Village
329514                       Kunitachi City
297601                         Machida City
63216                           Meguro Ward
6534                            Minato Ward
273759                          Mitaka City
359688                       Miyake Village
357771         Mizuho Town,Nishitama County
341523                 Musashimurayama City
270578                       Musashino City
125455                          Nakano Ward
190065                          Nerima Ward
359633                      Niijima Village
352473                      Nishitokyo City
360068                    Ogasawara Village
359091        Okutama Town,Nishitama County
359203                          Oshima Town
70781                              Ota Ward
278043                            Oume City
93332                         Setagaya Ward
117231                         Shibuya Ward
50246                        Shinagawa Ward
12462                         Shinjuku Ward
134932                        Suginami Ward
31474                           Sumida Ward
265543                       Tachikawa City
26432                            Taito Ward
343448                            Tama City
151673                         Toshima Ward
Name: Municipality, dtype: object

In [36]:
municipality_map = {
    # ---- 23구 (Ward) ----
    "Adachi Ward": "足立区",
    "Arakawa Ward": "荒川区",
    "Bunkyo Ward": "文京区",
    "Chiyoda Ward": "千代田区",
    "Chuo Ward": "中央区",
    "Edogawa Ward": "江戸川区",
    "Itabashi Ward": "板橋区",
    "Katsushika Ward": "葛飾区",
    "Kita Ward": "北区",
    "Koto Ward": "江東区",
    "Meguro Ward": "目黒区",
    "Minato Ward": "港区",
    "Nakano Ward": "中野区",
    "Nerima Ward": "練馬区",
    "Ota Ward": "大田区",
    "Setagaya Ward": "世田谷区",
    "Shibuya Ward": "渋谷区",
    "Shinagawa Ward": "品川区",
    "Shinjuku Ward": "新宿区",
    "Suginami Ward": "杉並区",
    "Sumida Ward": "墨田区",
    "Taito Ward": "台東区",
    "Toshima Ward": "豊島区",

    # ---- City (市) ----
    "Akiruno City": "あきる野市",
    "Akishima City": "昭島市",
    "Chofu City": "調布市",
    "Fuchu City": "府中市",
    "Fussa City": "福生市",
    "Hachioji City": "八王子市",
    "Hamura City": "羽村市",
    "Higashikurume City": "東久留米市",
    "Higashimurayama City": "東村山市",
    "Higashiyamato City": "東大和市",
    "Hino City": "日野市",
    "Inagi City": "稲城市",
    "Kiyose City": "清瀬市",
    "Kodaira City": "小平市",
    "Koganei City": "小金井市",
    "Kokubunji City": "国分寺市",
    "Komae City": "狛江市",
    "Kunitachi City": "国立市",
    "Machida City": "町田市",
    "Mitaka City": "三鷹市",
    "Musashimurayama City": "武蔵村山市",
    "Musashino City": "武蔵野市",
    "Nishitokyo City": "西東京市",
    "Oume City": "青梅市",
    "Tachikawa City": "立川市",
    "Tama City": "多摩市",

    # ---- Town / Village (町・村) ----
    "Hachijo Town": "八丈町",
    "Hinode Town,Nishitama County": "日の出町",
    "Hinohara Village,Nishitama County": "檜原村",
    "Kozushima Village": "神津島村",
    "Miyake Village": "三宅村",
    "Mizuho Town,Nishitama County": "瑞穂町",
    "Niijima Village": "新島村",
    "Ogasawara Village": "小笠原村",
    "Okutama Town,Nishitama County": "奥多摩町",
    "Oshima Town": "大島町"
}

df2["Municipality"] = df2["Municipality"].astype(str).str.strip()

df2["Municipality_kanji"] = df2["Municipality"].replace(municipality_map)

df2[["Municipality", "Municipality_kanji"]].drop_duplicates().sort_values("Municipality").head(40)

                             Municipality Municipality_kanji
209796                        Adachi Ward                足立区
350143                       Akiruno City              あきる野市
288555                      Akishima City                昭島市
169229                       Arakawa Ward                荒川区
20659                         Bunkyo Ward                文京区
0                            Chiyoda Ward               千代田区
291500                         Chofu City                調布市
1984                            Chuo Ward                中央区
237654                       Edogawa Ward               江戸川区
281817                         Fuchu City                府中市
331442                         Fussa City                福生市
359827                       Hachijo Town                八丈町
251057                      Hachioji City               八王子市
348883                        Hamura City                羽村市
338883                 Higashikurume City              東久留米市
321915               Higashimurayama City               東村山市
335014                 Higashiyamato City               東大和市
316719                          Hino City                日野市
358632       Hinode Town,Nishitama County               日の出町
359034  Hinohara Village,Nishitama County                檜原村
346940                         Inagi City                稲城市
174933                      Itabashi Ward                板橋区
226368                    Katsushika Ward                葛飾区
161240                          Kita Ward                 北区
337117                        Kiyose City                清瀬市
311510                       Kodaira City                小平市
308146                       Koganei City               小金井市
325944                     Kokubunji City               国分寺市
332679                         Komae City                狛江市
37787                           Koto Ward                江東区
359672                  Kozushima Village               神津島村
329514                     Kunitachi City                国立市
297601                       Machida City                町田市
63216                         Meguro Ward                目黒区
6534                          Minato Ward                 港区
273759                        Mitaka City                三鷹市
359688                     Miyake Village                三宅村
357771       Mizuho Town,Nishitama County                瑞穂町
341523               Musashimurayama City              武蔵村山市
270578                     Musashino City               武蔵野市

In [38]:
df_m = df2.dropna(subset=["Municipality_kanji", "TradePrice", "Area"]).copy()
df_m["calc_unit_price"] = df_m["TradePrice"] / df_m["Area"]

muni_summary = df_m.groupby("Municipality_kanji").agg(
    count=("TradePrice", "count"),
    avg_trade_price=("TradePrice", "mean"),
    median_trade_price=("TradePrice", "median"),
    avg_unit_price=("calc_unit_price", "mean"),
    median_unit_price=("calc_unit_price", "median")
).reset_index()

muni_summary = muni_summary.sort_values("avg_unit_price", ascending=False)
muni_summary.head(20)

,Municipality_kanji,count,avg_trade_price,median_trade_price,avg_unit_price,median_unit_price
9,千代田区,4230,2.184709e+08,39000000.0,1.477830e+06,1.050000e+06
41,港区,12429,1.682769e+08,51000000.0,1.311169e+06,1.050000e+06
4,中央区,9686,1.332966e+08,37000000.0,1.242138e+06,9.000000e+05
40,渋谷区,9259,1.428461e+08,44000000.0,1.180242e+06,9.285714e+05
24,新宿区,13958,8.029787e+07,32000000.0,9.068313e+05,8.000000e+05
45,目黒区,8157,9.136712e+07,54000000.0,8.832097e+05,8.222222e+05
23,文京区,9675,6.987769e+07,36000000.0,8.690769e+05,8.235294e+05
10,台東区,7923,7.916679e+07,31000000.0,8.434160e+05,7.142857e+05
11,品川区,13577,7.214057e+07,37000000.0,8.359125e+05,7.866667e+05
56,豊島区,10235,6.517683e+07,34000000.0,7.799739e+05,7.090909e+05
3,世田谷区,26304,7.667539e+07,54000000.0,7.013281e+05,6.666667e+05
14,墨田区,9241,5.575717e+07,28000000.0,6.903355e+05,6.200000e+05
5,中野区,9830,6.578542e+07,42000000.0,6.836395e+05,6.285714e+05
17,大田区,22782,6.136756e+07,36000000.0,6.584648e+05,6.000000e+05
38,江東区,14632,6.760261e+07,33000000.0,6.551397e+05,5.857143e+05
29,杉並区,17825,6.578375e+07,49000000.0,6.402968e+05,6.000000e+05
36,武蔵野市,2930,8.701953e+07,58000000.0,6.292543e+05,5.692308e+05
8,北区,8461,5.006515e+07,31000000.0,6.075029e+05,5.500000e+05
52,荒川区,6151,5.054444e+07,32000000.0,5.640684e+05,5.111111e+05
33,板橋区,15954,4.879442e+07,30000000.0,5.334709e+05,4.769231e+05

In [47]:
# 구 / 시 / 마을 컬럼 초기화
df2["Ward"] = None
df2["City"] = None
df2["TownVillage"] = None

# 행정구분 컬럼
def area_type(name):
    if pd.isna(name):
        return None
    if name.endswith("区"):
        return "区"
    elif name.endswith("市"):
        return "市"
    elif name.endswith("町") or name.endswith("村"):
        return "町村"
    else:
        return "その他"

df2["AreaType"] = df2["Municipality_kanji"].apply(area_type)

# 값 채우기
df2.loc[df2["AreaType"] == "区", "Ward"] = df2["Municipality_kanji"]
df2.loc[df2["AreaType"] == "市", "City"] = df2["Municipality_kanji"]
df2.loc[df2["AreaType"] == "町村", "TownVillage"] = df2["Municipality_kanji"]

df2[["Municipality_kanji", "AreaType", "Ward", "City", "TownVillage"]].drop_duplicates().head()

      Municipality_kanji AreaType  Ward  City TownVillage
0                   千代田区        区  千代田区  None        None
1984                 中央区        区   中央区  None        None
6534                  港区        区    港区  None        None
12462                新宿区        区   新宿区  None        None
20659                文京区        区   文京区  None        None

In [49]:
# ㎡ 단가
df2["unit_price"] = df2["TradePrice"] / df2["Area"]

# 건물 연식
df2["building_age"] = df2["Year"] - df2["BuildingYear"]

In [50]:
master_cols = [
    # 지역 구조
    "AreaType", "Ward", "City", "TownVillage", "Municipality_kanji",

    # 가격
    "TradePrice", "Area", "unit_price",

    # 입지
    "TimeToNearestStation", "NearestStation",

    # 건물
    "BuildingYear", "building_age", "Structure", "FloorPlan", "Renovation",

    # 시계열
    "Year", "Quarter", "Period"
]

master_df = df2[master_cols].copy()

master_df.to_csv(
    "tokyo_master.csv",
    index=False,
    encoding="utf-8-sig"
)

print("저장완료")

저장완료

In [51]:
df_s = df2.dropna(subset=["TradePrice", "Area", "TimeToNearestStation"]).copy()
df_s["calc_unit_price"] = df_s["TradePrice"] / df_s["Area"]

bins = [-1, 5, 10, 15, 20, 999]
labels = ["0-5", "6-10", "11-15", "16-20", "21+"]

df_s["station_time_group"] = pd.cut(df_s["TimeToNearestStation"], bins=bins, labels=labels)

station_summary = (
    df_s.groupby("station_time_group", observed=False)
    .agg(
        count=("calc_unit_price", "count"),
        avg_unit_price=("calc_unit_price", "mean"),
        median_unit_price=("calc_unit_price", "median"),
        avg_trade_price=("TradePrice", "mean")
    )
    .reset_index()
)

station_summary

,station_time_group,count,avg_unit_price,median_unit_price,avg_trade_price
0,0-5,112949,826782.489327,680000.000000,8.839640e+07
1,6-10,137946,644523.551922,569230.769231,6.557989e+07
2,11-15,76750,477966.351519,423076.923077,5.294324e+07
3,16-20,33767,365843.583690,330434.782609,4.839725e+07
4,21+,21848,292330.280905,266666.666667,4.487035e+07

In [52]:
station_summary.to_csv("tokyo_station_time.csv", index=False, encoding="utf-8-sig")
print("저장완료")

저장완료

In [59]:
# ㎡당 가격과 역거리/연식/면적 관계 보기

df_mid = df2.dropna(subset=["TradePrice", "Area", "TimeToNearestStation", "BuildingYear", "Year"]).copy()

df_mid["unit_price"] = df_mid["TradePrice"] / df_mid["Area"]
df_mid["building_age"] = df_mid["Year"] - df_mid["BuildingYear"]

df_mid[["unit_price", "Area", "TimeToNearestStation", "building_age"]].head()

df_mid[["unit_price", "Area", "TimeToNearestStation", "building_age"]].corr()

                      unit_price      Area  TimeToNearestStation  building_age
unit_price              1.000000  0.037436             -0.266182     -0.099609
Area                    0.037436  1.000000              0.131914      0.082322
TimeToNearestStation   -0.266182  0.131914              1.000000     -0.124087
building_age           -0.099609  0.082322             -0.124087      1.000000

In [60]:
mid_export = df_mid[[
    "Municipality_kanji", "DistrictName", "NearestStation", "Type",
    "TradePrice", "Area", "unit_price",
    "TimeToNearestStation", "BuildingYear", "building_age",
    "Structure", "FloorPlan", "Renovation",
    "Year", "Quarter"
]].copy()

mid_export.to_csv("tokyo_mid_clean.csv", index=False, encoding="utf-8-sig")
print("저장완료")

저장완료

In [63]:
# 연도별 가격추이

df_ts = df2.dropna(subset=["TradePrice", "Area", "Year", "Quarter"]).copy()
df_ts["unit_price"] = df_ts["TradePrice"] / df_ts["Area"]

ts_summary = df_ts.groupby(["Year", "Quarter"]).agg(
    count=("unit_price", "count"),
    avg_unit_price=("unit_price", "mean"),
    median_unit_price=("unit_price", "median"),
    avg_trade_price=("TradePrice", "mean")
).reset_index()

ts_summary = ts_summary.sort_values(["Year", "Quarter"])
ts_summary.head()

   Year  Quarter  count  avg_unit_price  median_unit_price  avg_trade_price
0  2005        3   4353   655193.566328      523076.923077     7.740998e+07
1  2005        4   4679   666035.269096      520000.000000     8.261066e+07
2  2006        1   4620   692506.932475      550000.000000     8.341840e+07
3  2006        2   4474   689639.370020      553137.254902     8.820899e+07
4  2006        3   4656   741631.998084      566666.666667     1.012490e+08

In [62]:
ts_summary.to_csv("tokyo_time_series.csv", index=False)
print("저장완료")

저장완료